h1 {
    color: #292727;
    text-align: center;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body, div {
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

p, span, li, a, label {
    font-family: 'Lekton', sans-serif;
}
